.four {
  --sectionWidth: var(--xsSectionWidth, 100%);
  --sectionPaddingX: var(--xsSectionPaddingX, 2%);
  --sectionHeight: var(--xsSectionHeight, 100%);
  --sectionTitleAlign: var(--xsSectionTitleAlign, left);
  --sectionTitleFontSize: var(--xsSectionTitleFontSize, 1.725rem);
  --sectionTitleMargin: var(--xsSectionTitleMargin, 0px);
  --sectionTitleMaxWidth: var(--xsSectionTitleMaxWidth, 100%);
  --sectionPaddingTop: var(--xsSectionPaddingTop, 5px);
  --sectionPaddingBottom: var(--xsSectionPaddingBottom, 5px);
  --sectionColumnsSize: var(--xsSectionColumnsSize, 1fr);
  --sectionColumnsGap: var(--xsSectionColumnsGap, 0px);
  --sectionColumn1Order: var(--xsSectionColumn1Order, 1);
  --sectionColumn1GridRow: var(--xsSectionColumn1GridRow, 1fr);
  --sectionColumn1AlignItems: var(--xsSectionColumn1AlignItems, center);
  --sectionColumn2Order: var(--xsSectionColumn2Order, 2);
  --sectionColumn2GridRow: var(--xsSectionColumn2GridRow, 1fr);
  --sectionColumn2AlignItems: var(--xsSectionColumn2AlignItems, center);
  --sectionColumn3Order: var(--xsSectionColumn3Order, 3);
  --sectionColumn3GridRow: var(--xsSectionColumn3GridRow, 1fr);
  --sectionColumn3AlignItems: var(--xsSectionColumn3AlignItems, center);
  --sectionColumn4Order: var(--xsSectionColumn4Order, 4);
  --sectionColumn4GridRow: var(--xsSectionColumn4GridRow, 1fr);
  --sectionColumn4AlignItems: var(--xsSectionColumn4AlignItems, center);
  margin: 0 auto;
  background-color: var(--sectionBackgroundColor, transparent);
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--sectionWidth);
  padding: 0 var(--sectionPaddingX);
  padding-top: var(--sectionPaddingTop);
  padding-bottom: var(--sectionPaddingBottom);
}

.four__title {
  margin: var(--sectionTitleMargin);
  text-align: var(--sectionTitleAlign);
  color: var(--sectionTitleColor, var(--bt--primary));
  line-height: 1.0125;
  font-family: var(--sectionTitleFontFamily);
  max-width: var(--sectionTitleMaxWidth);
  font-size: var(--sectionTitleFontSize);
}

/* Columns */
.four__container {
  display: grid;
  row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-areas: "1" "2" "3" "4";
  min-height: max-content;
  column-gap: var(--sectionColumnsGap);
  grid-template-columns: var(--sectionColumnsSize);
}

.four__left,
.four__middle_left,
.four__middle_right,
.four__right {
  display: grid;
  grid-template-columns: 1fr;
  min-height: max-content;
  height: var(--sectionHeight);
}

.four__left {
  order: 1;
  background-color: var(--sectionColumn1BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn1Order);
  grid-template-rows: var(--sectionColumn1GridRow, 1fr);
  align-items: var(--xsSectionColumn1AlignItems, var(--sectionColumn1AlignItems));
}

.four__middle_left {
  order: 2;
  background-color: var(--sectionColumn2BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn2Order);
  grid-template-rows: var(--sectionColumn2GridRow, 1fr);
  align-items: var(--sectionColumn2AlignItems);
}

.four__middle_right {
  order: 3;
  background-color: var(--sectionColumn3BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn3Order);
  grid-template-rows: var(--sectionColumn3GridRow, 1fr);
  align-items: var(--sectionColumn3AlignItems);
}

.four__right {
  order: 4;
  background-color: var(--sectionColumn4BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn2Order);
  grid-template-rows: var(--sectionColumn2GridRow, 1fr);
  align-items: var(--sectionColumn2AlignItems);
}
