.one {
  --sectionWidth: var(--xsSectionWidth, 100%);
  --sectionPaddingX: var(--xsSectionPaddingX, 0%);
  --sectionHeight: var(--xsSectionHeight, 100%);
  --sectionTitleAlign: var(--xsSectionTitleAlign, left);
  --sectionTitleFontSize: var(--xsSectionTitleFontSize, 1.725rem);
  --sectionTitleMargin: var(--xsSectionTitleMargin, 0rem);
  --sectionTitleMaxWidth: var(--xsSectionTitleMaxWidth, 100%);
  --sectionPaddingTop: var(--xsSectionPaddingTop, 0px);
  --sectionPaddingBottom: var(--xsSectionPaddingBottom, 0px);
  --sectionColumn1GridRow: var(--xsSectionColumn1GridRow, 1fr);
  --sectionColumn1AlignItems: var(--xsSectionColumn1AlignItems, center);
  margin: 0 auto;
  background-color: var(--sectionBackgroundColor, transparent);
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--sectionWidth);
  padding: 0 var(--sectionPaddingX);
  padding-top: var(--sectionPaddingTop);
  padding-bottom: var(--sectionPaddingBottom);
}

.one__title {
  margin: var(--sectionTitleMargin);
  text-align: var(--sectionTitleAlign);
  color: var(--sectionTitleColor, var(--bt--primary));
  line-height: 1.0125;
  font-family: var(--sectionTitleFontFamily);
  margin: var(--sectionTitleMargin);
  max-width: var(--sectionTitleMaxWidth);
  font-size: var(--sectionTitleFontSize);
  text-align: var(--sectionTitleAlign);
}

.one__main {
  grid-column: 1;
  display: grid;
  min-height: max-content;
  height: var(--sectionHeight);
  grid-template-rows: var(--sectionColumn1GridRow, 1fr);
  align-items: var(--sectionColumn1AlignItems);
}
