.six {
  --sectionWidth: var(--xsSectionWidth, 100%);
  --sectionPaddingX: var(--xsSectionPaddingX, 2%);
  --sectionHeight: var(--xsSectionHeight, 100%);
  --sectionTitleAlign: var(--xsSectionTitleAlign, left);
  --sectionTitleFontSize: var(--xsSectionTitleFontSize, 1.725rem);
  --sectionTitleMargin: var(--xsSectionTitleMargin, 0px);
  --sectionTitleMaxWidth: var(--xsSectionTitleMaxWidth, 100%);
  --sectionPaddingTop: var(--xsSectionPaddingTop, 5px);
  --sectionPaddingBottom: var(--xsSectionPaddingBottom, 5px);
  --sectionColumnsSize: var(--xsSectionColumnsSize, 1fr);
  --sectionColumnsGap: var(--xsSectionColumnsGap, 0px);
  --sectionColumn1Order: var(--xsSectionColumn1Order, 1);
  --sectionColumn1GridRow: var(--xsSectionColumn1GridRow, 1fr);
  --sectionColumn1AlignItems: var(--xsSectionColumn1AlignItems, center);
  --sectionColumn2Order: var(--xsSectionColumn2Order, 2);
  --sectionColumn2GridRow: var(--xsSectionColumn2GridRow, 1fr);
  --sectionColumn2AlignItems: var(--xsSectionColumn2AlignItems, center);
  --sectionColumn3Order: var(--xsSectionColumn3Order, 3);
  --sectionColumn3GridRow: var(--xsSectionColumn3GridRow, 1fr);
  --sectionColumn3AlignItems: var(--xsSectionColumn3AlignItems, center);
  --sectionColumn4Order: var(--xsSectionColumn4Order, 4);
  --sectionColumn4GridRow: var(--xsSectionColumn4GridRow, 1fr);
  --sectionColumn4AlignItems: var(--xsSectionColumn4AlignItems, center);
  --sectionColumn5Order: var(--xsSectionColumn5Order, 5);
  --sectionColumn5GridRow: var(--xsSectionColumn5GridRow, 1fr);
  --sectionColumn5AlignItems: var(--xsSectionColumn5AlignItems, center);
  --sectionColumn6Order: var(--xsSectionColumn6Order,6);
  --sectionColumn6GridRow: var(--xsSectionColumn6GridRow, 1fr);
  --sectionColumn6AlignItems: var(--xsSectionColumn6AlignItems, center);
  margin: 0 auto;
  background-color: var(--sectionBackgroundColor, transparent);
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--sectionWidth);
  padding: 0 var(--sectionPaddingX);
  padding-top: var(--sectionPaddingTop);
  padding-bottom: var(--sectionPaddingBottom);
}

.six__title {
  margin: var(--sectionTitleMargin);
  text-align: var(--sectionTitleAlign);
  color: var(--sectionTitleColor, var(--bt--primary));
  line-height: 1.0125;
  font-family: var(--sectionTitleFontFamily);
  max-width: var(--sectionTitleMaxWidth);
  font-size: var(--sectionTitleFontSize);
}

/* Columns */
.six__container {
  display: grid;
  row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-areas: "1" "2" "3" "4" "5" "6";
  min-height: max-content;
  column-gap: var(--sectionColumnsGap, 1fr);
  grid-template-columns: var(--sectionColumnsSize);
}

.six__far_left,
.six__left,
.six__middle_left,
.six__middle_right,
.six__right,
.six__far_right {
  display: grid;
  grid-template-columns: 1fr;
  min-height: max-content;
  height: var(--sectiontHeight);
}

.six__far_left {
  order: 1;
  background-color: var(--sectionColumn1BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn1Order);
  grid-template-rows: var(--sectionColumn1GridRow, 1fr);
  align-items: var(--sectionColumn1AlignItems);
}

.six__left {
  order: 2;
  background-color: var(--sectionColumn2BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn2Order);
  grid-template-rows: var(--sectionColumn2GridRow, 1fr);
  align-items: var(--sectionColumn2AlignItems);
}

.six__middle_left {
  order: 3;
  background-color: var(--sectionColumn3BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn3Order);
  grid-template-rows: var(--sectionColumn3GridRow, 1fr);
  align-items: var(--sectionColumn3AlignItems);
}

.six__middle_right {
  order: 4;
  background-color: var(--sectionColumn4BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn4Order);
  grid-template-rows: var(--sectionColumn4GridRow, 1fr);
  align-items: var(--sectionColumn4AlignItems);
}

.six__right {
  order: 5;
  background-color: var(--sectionColumn5BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn5Order);
  grid-template-rows: var(--sectionColumn5GridRow, 1fr);
  align-items: var(--sectionColumn5AlignItems);
}

.six__far_right {
  order: 6;
  background-color: var(--sectionColumn6BackgroundColor, transparent);
  height: var(--sectionHeight);
  order: var(--sectionColumn6Order);
  grid-template-rows: var(--sectionColumn6GridRow, 1fr);
  align-items: var(--sectionColumn6AlignItems);
}

/*
@media screen and (max-width: 575px) {
  .xsSix {
    width: var(--xsSectionWidth, var(--sectionWidth));
    padding: 0 var(--xsSectionPaddingX, var(--sectionPaddingX));
    padding-top: var(--xsSectionPaddingTop, var(--sectionPaddingTop));
    padding-bottom: var(--xsSectionPaddingBottom, var(--sectionPaddingBottom));
  }
  
  .xsSix .xsSix__title.six__title {
    margin: var(--xsSectionTitleMargin, var(--sectionTitleMargin));
    max-width: var(--xsSectionTitleMaxWidth, var(--sectionTitleMaxWidth));
    font-size: var(--xsSectionTitleFontSize, var(--sectionTitleFontSize));
    text-align: var(--xsSectionTitleAlign, var(--sectionTitleAlign));
  }
  
  .xsSix .six__container {
    row-gap: 0px;
    column-gap: var(--xsSectionColumnsGap, var(--sectionColumnsGap));
    grid-template-columns: var(--xsSectionColumnsSize, var(--sectionColumnsSize));
  }
  
  .xsSix .six__far_left {
    height: var(--xsSectionHeight, var(--sectionHeight));
    order: var(--xsSectionColumn1Order, var(--sectionColumn1Order));
    grid-template-rows: var(--xsSectionColumn1GridRow, var(--sectionColumn1GridRow));
    align-items: var(--xsSectionColumn1AlignItems, var(--sectionColumn1AlignItems));
  }
  
  .xsSix .six__left {
    height: var(--xsSectionHeight, var(--sectionHeight));
    order: var(--xsSectionColumn2Order, var(--sectionColumn2Order));
    grid-template-rows: var(--xsSectionColumn2GridRow, var(--sectionColumn2GridRow));
    align-items: var(--xsSectionColumn2AlignItems, var(--sectionColumn2AlignItems));
  }
  
  .xsSix .six__middle_left {
    height: var(--xsSectionHeight, var(--sectionHeight));
    order: var(--xsSectionColumn3Order, var(--sectionColumn3Order));
    grid-template-rows: var(--xsSectionColumn3GridRow, var(--sectionColumn3GridRow));
    align-items: var(--xsSectionColumn3AlignItems, var(--sectionColumn3AlignItems));
  }
  
  .xsSix .six__middle_right {
    height: var(--xsSectionHeight, var(--sectionHeight));
    order: var(--xsSectionColumn4Order, var(--sectionColumn4Order));
    grid-template-rows: var(--xsSectionColumn4GridRow, var(--sectionColumn4GridRow));
    align-items: var(--xsSectionColumn4AlignItems, var(--sectionColumn4AlignItems));
  }
  
  .xsSix .six__right {
    height: var(--xsSectionHeight, var(--sectionHeight));
    order: var(--xsSectionColumn5Order, var(--sectionColumn5Order));
    grid-template-rows: var(--xsSectionColumn5GridRow, var(--sectionColumn5GridRow));
    align-items: var(--xsSectionColumn5AlignItems, var(--sectionColumn5AlignItems));
  }
  
  .xsSix .six__far_right {
    height: var(--xsSectionHeight, var(--sectionHeight));
    order: var(--xsSectionColumn6Order, var(--sectionColumn6Order));
    grid-template-rows: var(--xsSectionColumn6GridRow, var(--sectionColumn6GridRow));
    align-items: var(--xsSectionColumn6AlignItems, var(--sectionColumn6AlignItems));
  }
}

@media screen and (min-width: 576px) {
  .smSix {
    width: var(--smSectionWidth, var(--sectionWidth));
    padding: 0 var(--smSectionPaddingX, var(--sectionPaddingX));
    padding-top: var(--smSectionPaddingTop, var(--sectionPaddingTop));
    padding-bottom: var(--smSectionPaddingBottom, var(--sectionPaddingBottom));
  }
  
  .smSix .smSix__title.six__title {
    margin: var(--smSectionTitleMargin, var(--sectionTitleMargin));
    max-width: var(--smSectionTitleMaxWidth, var(--sectionTitleMaxWidth));
    font-size: var(--smSectionTitleFontSize, var(--sectionTitleFontSize));
    text-align: var(--smSectionTitleAlign, var(--sectionTitleAlign));
  }
  
  .smSix .six__container {
    row-gap: 0px;
    column-gap: var(--smSectionColumnsGap, var(--sectionColumnsGap));
    grid-template-columns: var(--smSectionColumnsSize, var(--sectionColumnsSize));
  }

  .smSix .six__far_left {
    height: var(--smSectionHeight, var(--sectionHeight));
    order: var(--smSectionColumn1Order, var(--sectionColumn1Order));
    grid-template-rows: var(--smSectionColumn1GridRow, var(--sectionColumn1GridRow));
    align-items: var(--smSectionColumn1AlignItems, var(--sectionColumn1AlignItems));
  }

  .smSix .six__left {
    height: var(--smSectionHeight, var(--sectionHeight));
    order: var(--smSectionColumn2Order, var(--sectionColumn2Order));
    grid-template-rows: var(--smSectionColumn2GridRow, var(--sectionColumn2GridRow));
    align-items: var(--smSectionColumn2AlignItems, var(--sectionColumn2AlignItems));
  }
  
  .smSix .six__middle_left {
    height: var(--smSectionHeight, var(--sectionHeight));
    order: var(--smSectionColumn3Order, var(--sectionColumn3Order));
    grid-template-rows: var(--smSectionColumn3GridRow, var(--sectionColumn3GridRow));
    align-items: var(--smSectionColumn3AlignItems, var(--sectionColumn3AlignItems));
  }

  .smSix .six__middle_right {
    height: var(--smSectionHeight, var(--sectionHeight));
    order: var(--smSectionColumn4Order, var(--sectionColumn4Order));
    grid-template-rows: var(--smSectionColumn4GridRow, var(--sectionColumn4GridRow));
    align-items: var(--smSectionColumn4AlignItems, var(--sectionColumn4AlignItems));
  }

  .smSix .six__right {
    height: var(--smSectionHeight, var(--sectionHeight));
    order: var(--smSectionColumn5Order, var(--sectionColumn5Order));
    grid-template-rows: var(--smSectionColumn5GridRow, var(--sectionColumn5GridRow));
    align-items: var(--smSectionColumn5AlignItems, var(--sectionColumn5AlignItems));
  }

  .smSix .six__far_right {
    height: var(--smSectionHeight, var(--sectionHeight));
    order: var(--smSectionColumn6Order, var(--sectionColumn6Order));
    grid-template-rows: var(--smSectionColumn6GridRow, var(--sectionColumn6GridRow));
    align-items: var(--smSectionColumn6AlignItems, var(--sectionColumn6AlignItems));
  }
}

@media screen and (min-width: 768px) {
  .mdSix {
    width: var(--mdSectionWidth, var(--sectionWidth));
    padding: 0 var(--mdSectionPaddingX, var(--sectionPaddingX));
    padding-top: var(--mdSectionPaddingTop, var(--sectionPaddingTop));
    padding-bottom: var(--mdSectionPaddingBottom, var(--sectionPaddingBottom));
  }
  
  .mdSix .mdSix__title.six__title {
    margin: var(--mdSectionTitleMargin, var(--sectionTitleMargin));
    max-width: var(--mdSectionTitleMaxWidth, var(--sectionTitleMaxWidth));
    font-size: var(--mdSectionTitleFontSize, var(--sectionTitleFontSize));
    text-align: var(--mdSectionTitleAlign, var(--sectionTitleAlign));
  }
  
  .mdSix .six__container {
    row-gap: 0px;
    column-gap: var(--mdSectionColumnsGap, var(--sectionColumnsGap));
    grid-template-columns: var(--mdSectionColumnsSize, var(--sectionColumnsSize));
  }

  .mdSix .six__far_left {
    height: var(--mdSectionHeight, var(--sectionHeight));
    order: var(--mdSectionColumn1Order, var(--sectionColumn1Order));
    grid-template-rows: var(--mdSectionColumn1GridRow, var(--sectionColumn1GridRow));
    align-items: var(--mdSectionColumn1AlignItems, var(--sectionColumn1AlignItems));
  }

  .mdSix .six__left {
    height: var(--mdSectionHeight, var(--sectionHeight));
    order: var(--mdSectionColumn2Order, var(--sectionColumn2Order));
    grid-template-rows: var(--mdSectionColumn2GridRow, var(--sectionColumn2GridRow));
    align-items: var(--mdSectionColumn2AlignItems, var(--sectionColumn2AlignItems));
  }
  
  .mdSix .six__middle_left {
    height: var(--mdSectionHeight, var(--sectionHeight));
    order: var(--mdSectionColumn3Order, var(--sectionColumn3Order));
    grid-template-rows: var(--mdSectionColumn3GridRow, var(--sectionColumn3GridRow));
    align-items: var(--mdSectionColumn3AlignItems, var(--sectionColumn3AlignItems));
  }

  .mdSix .six__middle_right {
    height: var(--mdSectionHeight, var(--sectionHeight));
    order: var(--mdSectionColumn4Order, var(--sectionColumn4Order));
    grid-template-rows: var(--mdSectionColumn4GridRow, var(--sectionColumn4GridRow));
    align-items: var(--mdSectionColumn4AlignItems, var(--sectionColumn4AlignItems));
  }

  .mdSix .six__right {
    height: var(--mdSectionHeight, var(--sectionHeight));
    order: var(--mdSectionColumn5Order, var(--sectionColumn5Order));
    grid-template-rows: var(--mdSectionColumn5GridRow, var(--sectionColumn5GridRow));
    align-items: var(--mdSectionColumn5AlignItems, var(--sectionColumn5AlignItems));
  }

  .mdSix .six__far_right {
    height: var(--mdSectionHeight, var(--sectionHeight));
    order: var(--mdSectionColumn6Order, var(--sectionColumn6Order));
    grid-template-rows: var(--mdSectionColumn6GridRow, var(--sectionColumn6GridRow));
    align-items: var(--mdSectionColumn6AlignItems, var(--sectionColumn6AlignItems));
  }
}

@media screen and (min-width: 992px) {
  .lgSix {
    width: var(--lgSectionWidth, var(--sectionWidth));
    padding: 0 var(--lgSectionPaddingX, var(--sectionPaddingX));
    padding-top: var(--lgSectionPaddingTop, var(--sectionPaddingTop));
    padding-bottom: var(--lgSectionPaddingBottom, var(--sectionPaddingBottom));
  }
  
  .lgSix .lgSix__title.six__title {
    margin: var(--lgSectionTitleMargin, var(--sectionTitleMargin));
    max-width: var(--lgSectionTitleMaxWidth, var(--sectionTitleMaxWidth));
    font-size: var(--lgSectionTitleFontSize, var(--sectionTitleFontSize));
    text-align: var(--lgSectionTitleAlign, var(--sectionTitleAlign));
  }
  
  .lgSix .six__container {
    row-gap: 0px;
    column-gap: var(--lgSectionColumnsGap, var(--sectionColumnsGap));
    grid-template-columns: var(--lgSectionColumnsSize, var(--sectionColumnsSize));
  }

  .lgSix .six__far_left {
    height: var(--lgSectionHeight, var(--sectionHeight));
    order: var(--lgSectionColumn1Order, var(--sectionColumn1Order));
    grid-template-rows: var(--lgSectionColumn1GridRow, var(--sectionColumn1GridRow));
    align-items: var(--lgSectionColumn1AlignItems, var(--sectionColumn1AlignItems));
  }

  .lgSix .six__left {
    height: var(--lgSectionHeight, var(--sectionHeight));
    order: var(--lgSectionColumn2Order, var(--sectionColumn2Order));
    grid-template-rows: var(--lgSectionColumn2GridRow, var(--sectionColumn2GridRow));
    align-items: var(--lgSectionColumn2AlignItems, var(--sectionColumn2AlignItems));
  }
  
  .lgSix .six__middle_left {
    height: var(--lgSectionHeight, var(--sectionHeight));
    order: var(--lgSectionColumn3Order, var(--sectionColumn3Order));
    grid-template-rows: var(--lgSectionColumn3GridRow, var(--sectionColumn3GridRow));
    align-items: var(--lgSectionColumn3AlignItems, var(--sectionColumn3AlignItems));
  }

  .lgSix .six__middle_right {
    height: var(--lgSectionHeight, var(--sectionHeight));
    order: var(--lgSectionColumn4Order, var(--sectionColumn4Order));
    grid-template-rows: var(--lgSectionColumn4GridRow, var(--sectionColumn4GridRow));
    align-items: var(--lgSectionColumn4AlignItems, var(--sectionColumn4AlignItems));
  }

  .lgSix .six__right {
    height: var(--lgSectionHeight, var(--sectionHeight));
    order: var(--lgSectionColumn5Order, var(--sectionColumn5Order));
    grid-template-rows: var(--lgSectionColumn5GridRow, var(--sectionColumn5GridRow));
    align-items: var(--lgSectionColumn5AlignItems, var(--sectionColumn5AlignItems));
  }

  .lgSix .six__far_right {
    height: var(--lgSectionHeight, var(--sectionHeight));
    order: var(--lgSectionColumn6Order, var(--sectionColumn6Order));
    grid-template-rows: var(--lgSectionColumn6GridRow, var(--sectionColumn6GridRow));
    align-items: var(--lgSectionColumn6AlignItems, var(--sectionColumn6AlignItems));
  }
}

@media screen and (min-width: 1200px) {
  .xlSix {
    height: var(--xlSectionHeight, var(--sectionHeight));
    width: var(--xlSectionWidth, var(--sectionWidth));
    padding: 0 var(--xlSectionPaddingX, var(--sectionPaddingX));
    padding-top: var(--xlSectionPaddingTop, var(--sectionPaddingTop));
    padding-bottom: var(--xlSectionPaddingBottom, var(--sectionPaddingBottom));
  }
  
  .xlSix .xlSix__title.six__title {
    margin: var(--xlSectionTitleMargin, var(--sectionTitleMargin));
    max-width: var(--xlSectionTitleMaxWidth, var(--sectionTitleMaxWidth));
    font-size: var(--xlSectionTitleFontSize, var(--sectionTitleFontSize));
    text-align: var(--xlSectionTitleAlign, var(--sectionTitleAlign));
  }
  
  .xlSix .six__container {
    row-gap: 0px;
    column-gap: var(--xlSectionColumnsGap, var(--sectionColumnsGap));
    grid-template-columns: var(--xlSectionColumnsSize, var(--sectionColumnsSize));
  }

  .xlSix .six__far_left {
    order: var(--xlSectionColumn1Order, var(--sectionColumn1Order));
    grid-template-rows: var(--xlSectionColumn1GridRow, var(--sectionColumn1GridRow));
    align-items: var(--xlSectionColumn1AlignItems, var(--sectionColumn1AlignItems));
  }

  .xlSix .six__left {
    order: var(--xlSectionColumn2Order, var(--sectionColumn2Order));
    grid-template-rows: var(--xlSectionColumn2GridRow, var(--sectionColumn2GridRow));
    align-items: var(--xlSectionColumn2AlignItems, var(--sectionColumn2AlignItems));
  }
  
  .xlSix .six__middle_left {
    order: var(--xlSectionColumn3Order, var(--sectionColumn3Order));
    grid-template-rows: var(--xlSectionColumn3GridRow, var(--sectionColumn3GridRow));
    align-items: var(--xlSectionColumn3AlignItems, var(--sectionColumn3AlignItems));
  }

  .xlSix .six__middle_right {
    order: var(--xlSectionColumn4Order, var(--sectionColumn4Order));
    grid-template-rows: var(--xlSectionColumn4GridRow, var(--sectionColumn4GridRow));
    align-items: var(--xlSectionColumn4AlignItems, var(--sectionColumn4AlignItems));
  }

  .xlSix .six__right {
    order: var(--xlSectionColumn5Order, var(--sectionColumn5Order));
    grid-template-rows: var(--xlSectionColumn5GridRow, var(--sectionColumn5GridRow));
    align-items: var(--xlSectionColumn5AlignItems, var(--sectionColumn5AlignItems));
  }

  .xlSix .six__far_right {
    order: var(--xlSectionColumn6Order, var(--sectionColumn6Order));
    grid-template-rows: var(--xlSectionColumn6GridRow, var(--sectionColumn6GridRow));
    align-items: var(--xlSectionColumn6AlignItems, var(--sectionColumn6AlignItems));
  }
}

@media screen and (min-width: 1400px) {
  .xxlSix {
    width: var(--xxlSectionWidth, var(--sectionWidth));
    padding: 0 var(--xxlSectionPaddingX, var(--sectionPaddingX));
    padding-top: var(--xxlSectionPaddingTop, var(--sectionPaddingTop));
    padding-bottom: var(--xxlSectionPaddingBottom, var(--sectionPaddingBottom));
  }
  
  .xxlSix .xxlSix__title.six__title {
    margin: var(--xxlSectionTitleMargin, var(--sectionTitleMargin));
    max-width: var(--xxlSectionTitleMaxWidth, var(--sectionTitleMaxWidth));
    font-size: var(--xxlSectionTitleFontSize, var(--sectionTitleFontSize));
    text-align: var(--xxlSectionTitleAlign, var(--sectionTitleAlign));
  }
  
  .xxlSix .six__container {
    row-gap: 0px;
    column-gap: var(--xxlSectionColumnsGap, var(--sectionColumnsGap));
    grid-template-columns: var(--xxlSectionColumnsSize, var(--sectionColumnsSize));
  }
  
  .xxlSix .six__far_left {
    height: var(--xxlSectionHeight, var(--sectionHeight));
    order: var(--xxlSectionColumn1Order, var(--sectionColumn1Order));
    grid-template-rows: var(--xxlSectionColumn1GridRow, var(--sectionColumn1GridRow));
    align-items: var(--xxlSectionColumn1AlignItems, var(--sectionColumn1AlignItems));
  }
 
  .xxlSix .six__left {
    height: var(--xxlSectionHeight, var(--sectionHeight));
    order: var(--xxlSectionColumn2Order, var(--sectionColumn2Order));
    grid-template-rows: var(--xxlSectionColumn2GridRow, var(--sectionColumn2GridRow));
    align-items: var(--xxlSectionColumn2AlignItems, var(--sectionColumn2AlignItems));
  }
  
  .xxlSix .six__middle_left {
    height: var(--xxlSectionHeight, var(--sectionHeight));
    order: var(--xxlSectionColumn3Order, var(--sectionColumn3Order));
    grid-template-rows: var(--xxlSectionColumn3GridRow, var(--sectionColumn3GridRow));
    align-items: var(--xxlSectionColumn3AlignItems, var(--sectionColumn3AlignItems));
  }

  .xxlSix .six__middle_right {
    height: var(--xxlSectionHeight, var(--sectionHeight));
    order: var(--xxlSectionColumn4Order, var(--sectionColumn4Order));
    grid-template-rows: var(--xxlSectionColumn4GridRow, var(--sectionColumn4GridRow));
    align-items: var(--xxlSectionColumn4AlignItems, var(--sectionColumn4AlignItems));
  }

  .xxlSix .six__right {
    height: var(--xxlSectionHeight, var(--sectionHeight));
    order: var(--xxlSectionColumn5Order, var(--sectionColumn5Order));
    grid-template-rows: var(--xxlSectionColumn5GridRow, var(--sectionColumn5GridRow));
    align-items: var(--xxlSectionColumn5AlignItems, var(--sectionColumn5AlignItems));
  }

  .xxlSix .six__far_right {
    height: var(--xxlSectionHeight, var(--sectionHeight));
    order: var(--xxlSectionColumn6Order, var(--sectionColumn6Order));
    grid-template-rows: var(--xxlSectionColumn6GridRow, var(--sectionColumn6GridRow));
    align-items: var(--xxlSectionColumn6AlignItems, var(--sectionColumn6AlignItems));
  }
}
*/