{%
  set classes = [
    'fourColumns',
    settings.padding_top != 'none' ? settings.padding_top : '',
    settings.padding_bottom != 'none' ? settings.padding_bottom : '',
    settings.sm_padding_top != 'none' ? settings.sm_padding_top : '',
    settings.sm_padding_bottom != 'none' ? settings.sm_padding_bottom : '',
    settings.md_padding_top != 'none' ? settings.md_padding_top : '',
    settings.md_padding_bottom != 'none' ? settings.md_padding_bottom : '',
    settings.lg_padding_top != 'none' ? settings.lg_padding_top : '',
    settings.lg_padding_bottom != 'none' ? settings.lg_padding_bottom : '',
    settings.xl_padding_top != 'none' ? settings.xl_padding_top : '',
    settings.xl_padding_bottom != 'none' ? settings.xl_padding_bottom : '',
    settings.xxl_padding_top != 'none' ? settings.xxl_padding_top : '',
    settings.xxl_padding_bottom != 'none' ? settings.xxl_padding_bottom : '',
  ]|remove_empty
%}

{%
  set title_attributes = create_attribute()
%}

{%
  set title_classes = [
    'fourColumns__section-title',
    settings.hide_label == TRUE ? 'visually-hidden',
  ]
%}

{%
  set grid_attributes = create_attribute()
%}

{%
  set left_region = [
    'fourColumns__left-region',
    settings.order != 'default' ? settings.order : '',
    settings.sm_order != 'default' ? settings.sm_order : '',
    settings.md_order != 'default' ? settings.md_order : '',
    settings.lg_order != 'default' ? settings.lg_order : '',
    settings.xl_order != 'default' ? settings.xl_order : '',
    settings.xxl_order  != 'default' ? settings.xxl_order : '',
  ]|remove_empty
%}

{%
  set right_region = [
    'fourColumns__right-region',
    settings.order != 'default' ? settings.order : '',
    settings.sm_order != 'default' ? settings.sm_order : '',
    settings.md_order != 'default' ? settings.md_order : '',
    settings.lg_order != 'default' ? settings.lg_order : '',
    settings.xl_order != 'default' ? settings.xl_order : '',
    settings.xxl_order  != 'default' ? settings.xxl_order : '',
  ]|remove_empty
%}

{%
  set mleft_region = [
    'fourColumns__middleLeft-region',
    settings.order != 'default' ? settings.order : '',
    settings.sm_order != 'default' ? settings.sm_order : '',
    settings.md_order != 'default' ? settings.md_order : '',
    settings.lg_order != 'default' ? settings.lg_order : '',
    settings.xl_order != 'default' ? settings.xl_order : '',
    settings.xxl_order  != 'default' ? settings.xxl_order : '',
  ]|remove_empty
%}

{%
  set mright_region = [
    'fourColumns__middleRight-region',
    settings.order != 'default' ? settings.order : '',
    settings.sm_order != 'default' ? settings.sm_order : '',
    settings.md_order != 'default' ? settings.md_order : '',
    settings.lg_order != 'default' ? settings.lg_order : '',
    settings.xl_order != 'default' ? settings.xl_order : '',
    settings.xxl_order  != 'default' ? settings.xxl_order : '',
  ]|remove_empty
%}

{%
  set grid_classes = [
    'fourColumns__grid',
    settings.gap  != 'none' ? settings.gap : '',
    settings.sm_gap  != 'none' ? settings.sm_gap : '',
    settings.md_gap  != 'none' ? settings.md_gap : '',
    settings.lg_gap  != 'none' ? settings.lg_gap : '',
    settings.xl_gap  != 'none' ? settings.xl_gap : '',
    settings.xxl_gap  != 'none' ? settings.xxl_gap : '',
  ]|remove_empty
%}

{%
  set style_vars = [
    settings.label_color != 'default' and settings.label_color != 'customColor' ? '--labelColor: var(--bt--' ~ settings.label_color ~ ')',
    settings.label_color == 'customColor' ? '--labelColor: ' ~ settings.label_custom_color,
    settings.background_color == 'default' ? '--backgroundColor: transparent',
    settings.background_color != 'default' and settings.background_color != 'customColor' ? '--backgroundColor: var(--bt--' ~ settings.background_color ~ ')',
    settings.background_color == 'customColor' ? '--backgroundColor: ' ~ settings.background_custom_color,
    settings.height != '' ? '--height:' ~ settings.height : '',
    settings.sm_height != '' ? '--sm-height:' ~ settings.sm_height : '',
    settings.md_height != '' ? '--md-height:' ~ settings.md_height : '',
    settings.lg_height != '' ? '--lg-height:' ~ settings.lg_height : '',
    settings.xl_height != '' ? '--xl-height:' ~ settings.xl_height : '',
    settings.xxl_height != '' ? '--xxl-height:' ~ settings.xxl_height : '',
    settings.container_select == 'full' ? '--paddingX: ' ~ settings.full_select : '',
    settings.container_select == 'box' ? '--width: ' ~ settings.box_select : '',
    settings.sm_container_select == 'full' ? '--sm-paddingX: ' ~ settings.sm_full_select : '',
    settings.sm_container_select == 'box' ? '--sm-width: ' ~ settings.sm_box_select : '',
    settings.md_container_select == 'full' ? '--md-paddingX: ' ~ settings.md_full_select : '',
    settings.md_container_select == 'box' ? '--md-width: ' ~ settings.md_box_select : '',
    settings.lg_container_select == 'full' ? '--lg-paddingX: ' ~ settings.lg_full_select : '',
    settings.lg_container_select == 'box' ? '--lg-width: ' ~ settings.lg_box_select : '',
    settings.xl_container_select == 'full' ? '--xl-paddingX: ' ~ settings.xl_full_select : '',
    settings.xl_container_select == 'box' ? '--xl-width: ' ~ settings.xl_box_select : '',
    settings.xxl_container_select == 'full' ? '--xxl-paddingX: ' ~ settings.xxl_full_select : '',
    settings.xxl_container_select == 'box' ? '--xxl-width: ' ~ settings.xxl_box_select : '',
  ]|remove_empty
%}

{% if content %}
  <section {{ attributes.setAttribute('style', style_vars|join('; ')).addClass(classes) }}>
    <h2 {{ title_attributes.addClass(title_classes) }}>{{ settings.label }}</h2>
    <div {{ grid_attributes.addClass(grid_classes) }}>
      {% if content.fourColumns__left %}
        <div {{ region_attributes.fourColumns__left.addClass(left_region) }}>
          {{ content.fourColumns__left }}
        </div>
      {% endif %}
      {% if content.fourColumns__middleLeft %}
        <div {{ region_attributes.fourColumns__middleLeft.addClass(mleft_region) }}>
          {{ content.fourColumns__middleLeft }}
        </div>
      {% endif %}
      {% if content.fourColumns__middleRight %}
        <div {{ region_attributes.fourColumns__middleRight.addClass(mright_region) }}>
          {{ content.fourColumns__middleRight }}
        </div>
      {% endif %}
      {% if content.fourColumns__right %}
        <div {{ region_attributes.fourColumns__right.addClass(right_region) }}>
          {{ content.fourColumns__right }}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}