{%
  set classes = [
    'three',
    'rlayout',
    settings.css_classes,
  ]|remove_empty
%}

{%
  set title_attributes = create_attribute()
%}

{%
  set title_classes = [
    'three__title',
    settings.title_hide == TRUE ? 'visually-hidden',
  ]|remove_empty
%}

{%
  set grid_attributes = create_attribute()
%}

{%
  set grid_classes = [
    'three__container',
  ]|remove_empty
%}

{%
  set style_vars = [
    settings.title_color != 'default' and settings.title_color != 'customColor' ? '--sectionTitleColor: var(--bt--' ~ settings.title_color ~ ')',
    settings.title_color == 'customColor' ? '--sectionTitleColor: ' ~ settings.title_custom_color,
    settings.title_font_family == 'default' ? '--sectionTitleFontFamily: var(--bt--headers-font)',
    settings.title_font_family != 'default' ? '--sectionTitleFontFamily: ' ~ settings.title_font_family|replace({'-': " "}) : '',
    settings.xs_title_font_size != '' ? '--xsSectionTitleFontSize: ' ~ settings.xs_title_font_size : '',
    settings.xs_title_font_size == '' ? '--xsSectionTitleFontSize: 1.5rem' : '',
    settings.sm_title_font_size != '' ? '--smSectionTitleFontSize: ' ~ settings.sm_title_font_size : '',
    settings.md_title_font_size != '' ? '--mdSectionTitleFontSize: ' ~ settings.md_title_font_size : '',
    settings.lg_title_font_size != '' ? '--lgSectionTitleFontSize: ' ~ settings.lg_title_font_size : '',
    settings.xl_title_font_size != '' ? '--xlSectionTitleFontSize: ' ~ settings.xl_title_font_size : '',
    settings.xxl_title_font_size != '' ? '--xxlSectionTitleFontSize: ' ~ settings.xxl_title_font_size : '',
    settings.xs_title_align != 'default' ? '--xsSectionTitleAlign: ' ~ settings.xs_title_align : '',
    settings.sm_title_align != 'default' ? '--smSectionTitleAlign: ' ~ settings.sm_title_align : '',
    settings.md_title_align != 'default' ? '--mdSectionTitleAlign: ' ~ settings.md_title_align : '',
    settings.lg_title_align != 'default' ? '--lgSectionTitleAlign: ' ~ settings.lg_title_align : '',
    settings.xl_title_align != 'default' ? '--xlSectionTitleAlign: ' ~ settings.xl_title_align : '',
    settings.xxl_title_align != 'default' ? '--xxlSectionTitleAlign: ' ~ settings.xxl_title_align : '',
    settings.xs_title_margin != '' ? '--xsSectionTitleMargin: ' ~ settings.xs_title_margin : '',
    settings.sm_title_margin != '' ? '--smSectionTitleMargin: ' ~ settings.sm_title_margin : '',
    settings.md_title_margin != '' ? '--mdSectionTitleMargin: ' ~ settings.md_title_margin : '',
    settings.lg_title_margin != '' ? '--lgSectionTitleMargin: ' ~ settings.lg_title_margin : '',
    settings.xl_title_margin != '' ? '--xlSectionTitleMargin: ' ~ settings.xl_title_margin : '',
    settings.xxl_title_margin != '' ? '--xxlSectionTitleMargin: ' ~ settings.xxl_title_margin : '',
    settings.xs_title_max_width != '' ? '--xsSectionTitleMaxWidth: ' ~ settings.xs_title_max_width : '',
    settings.sm_title_max_width != '' ? '--smSectionTitleMaxWidth: ' ~ settings.sm_title_max_width : '',
    settings.md_title_max_width != '' ? '--mdSectionTitleMaxWidth: ' ~ settings.md_title_max_width : '',
    settings.lg_title_max_width != '' ? '--lgSectionTitleMaxWidth: ' ~ settings.lg_title_max_width : '',
    settings.xl_title_max_width != '' ? '--xlSectionTitleMaxWidth: ' ~ settings.xl_title_max_width : '',
    settings.xxl_title_max_width != '' ? '--xxlSectionTitleMaxWidth: ' ~ settings.xxl_title_max_width : '',

    settings.background_color == 'default' ? '--sectionBackgroundColor: transparent',
    settings.background_color != 'default' and settings.background_color != 'customColor' ? '--sectionBackgroundColor: var(--bt--' ~ settings.background_color ~ ')',
    settings.background_color == 'customColor' ? '--sectionBackgroundColor: ' ~ settings.background_custom_color,

    settings.xs_height != '' ? '--xsSectionHeight:' ~ settings.xs_height : '',
    settings.sm_height != '' ? '--smSectionHeight:' ~ settings.sm_height : '',
    settings.md_height != '' ? '--mdSectionHeight:' ~ settings.md_height : '',
    settings.lg_height != '' ? '--lgSectionHeight:' ~ settings.lg_height : '',
    settings.xl_height != '' ? '--xlSectionHeight:' ~ settings.xl_height : '',
    settings.xxl_height != '' ? '--xxlSectionHeight:' ~ settings.xxl_height : '',

    settings.xs_container_select == 'full' and settings.xs_full_select != 'default' ? '--xsSectionPaddingX: ' ~ settings.xs_full_select : '',
    settings.xs_container_select == 'box' and settings.xs_box_select != 'default' ? '--xsSectionWidth: ' ~ settings.xs_box_select : '',
    settings.sm_container_select == 'full' and settings.sm_full_select != 'default' ? '--smSectionPaddingX: ' ~ settings.sm_full_select : '',
    settings.sm_container_select == 'box' and settings.sm_box_select != 'default' ? '--smSectionWidth: ' ~ settings.sm_box_select : '',
    settings.md_container_select == 'full' and settings.md_full_select != 'default' ? '--mdSectionPaddingX: ' ~ settings.md_full_select : '',
    settings.md_container_select == 'box' and settings.md_box_select != 'default' ? '--mdSectionWidth: ' ~ settings.md_box_select : '',
    settings.lg_container_select == 'full' and settings.lg_full_select != 'default' ? '--lgSectionPaddingX: ' ~ settings.lg_full_select : '',
    settings.lg_container_select == 'box' and settings.lg_box_select != 'default' ? '--lgSectionWidth: ' ~ settings.lg_box_select : '',
    settings.xl_container_select == 'full' and settings.xl_full_select != 'default' ? '--xlSectionPaddingX: ' ~ settings.xl_full_select : '',
    settings.xl_container_select == 'box' and settings.xl_box_select != 'default' ? '--xlSectionWidth: ' ~ settings.xl_box_select : '',
    settings.xxl_container_select == 'full' and settings.xxl_full_select != 'default' ? '--xxlSectionPaddingX: ' ~ settings.xxl_full_select : '',
    settings.xxl_container_select == 'box' and settings.xxl_box_select != 'default' ? '--xxlSectionWidth: ' ~ settings.xxl_box_select : '',

    settings.xs_padding_top != '' ? '--xsSectionPaddingTop: ' ~ settings.xs_padding_top : '',
    settings.sm_padding_top != '' ? '--smSectionPaddingTop: ' ~ settings.sm_padding_top : '',
    settings.md_padding_top != '' ? '--mdSectionPaddingTop: ' ~ settings.md_padding_top : '',
    settings.lg_padding_top != '' ? '--lgSectionPaddingTop: ' ~ settings.lg_padding_top : '',
    settings.xl_padding_top != '' ? '--xlSectionPaddingTop: ' ~ settings.xl_padding_top : '',
    settings.xxl_padding_top != '' ? '--xxlSectionPaddingTop: ' ~ settings.xxl_padding_top : '',

    settings.xs_padding_bottom != '' ? '--xsSectionPaddingBottom: ' ~ settings.xs_padding_bottom : '',
    settings.sm_padding_bottom != '' ? '--smSectionPaddingBottom: ' ~ settings.sm_padding_bottom : '',
    settings.md_padding_bottom != '' ? '--mdSectionPaddingBottom: ' ~ settings.md_padding_bottom : '',
    settings.lg_padding_bottom != '' ? '--lgSectionPaddingBottom: ' ~ settings.lg_padding_bottom : '',
    settings.xl_padding_bottom != '' ? '--xlSectionPaddingBottom: ' ~ settings.xl_padding_bottom : '',
    settings.xxl_padding_bottom != '' ? '--xxlSectionPaddingBottom: ' ~ settings.xxl_padding_bottom : '',

    settings.xs_columns_size != 'default' ? '--xsSectionColumnsSize: ' ~ settings.xs_columns_size : '',
    settings.sm_columns_size  != 'default' ? '--smSectionColumnsSize: ' ~ settings.sm_columns_size : '',
    settings.md_columns_size  != 'default' ? '--mdSectionColumnsSize: ' ~ settings.md_columns_size : '',
    settings.lg_columns_size  != 'default' ? '--lgSectionColumnsSize: ' ~ settings.lg_columns_size : '',
    settings.xl_columns_size  != 'default' ? '--xlSectionColumnsSize: ' ~ settings.xl_columns_size : '',
    settings.xxl_columns_size  != 'default' ? '--xxlSectionColumnsSize: ' ~ settings.xxl_columns_size : '',

    settings.xs_columns_gap != '' ? '--xsSectionColumnsGap: ' ~ settings.xs_columns_gap : '',
    settings.sm_columns_gap != '' ? '--smSectionColumnsGap: ' ~ settings.sm_columns_gap : '',
    settings.md_columns_gap != '' ? '--mdSectionColumnsGap: ' ~ settings.md_columns_gap : '',
    settings.lg_columns_gap != '' ? '--lgSectionColumnsGap: ' ~ settings.lg_columns_gap : '',
    settings.xl_columns_gap != '' ? '--xlSectionColumnsGap: ' ~ settings.xl_columns_gap : '',
    settings.xxl_columns_gap != '' ? '--xxlSectionColumnsGap: ' ~ settings.xxl_columns_gap : '',

    settings.column_1_background_color == 'default' ? '--sectionColumn1BackgroundColor: transparent',
    settings.column_1_background_color != 'default' and settings.column_1_background_color != 'customColor' ? '--sectionColumn1BackgroundColor: var(--bt--' ~ settings.column_1_background_color ~ ')',
    settings.column_1_background_color == 'customColor' ? '--sectionColumn1BackgroundColor: ' ~ settings.column_1_background_custom_color,

    settings.xs_column_1_order != 'default' ? '--xsSectionColumn1Order: ' ~ settings.xs_column_1_order : '',
    settings.sm_column_1_order != 'default' ? '--smSectionColumn1Order: ' ~ settings.sm_column_1_order : '',
    settings.md_column_1_order != 'default' ? '--mdSectionColumn1Order: ' ~ settings.md_column_1_order : '',
    settings.lg_column_1_order != 'default' ? '--lgSectionColumn1Order: ' ~ settings.lg_column_1_order : '',
    settings.xl_column_1_order != 'default' ? '--xlSectionColumn1Order: ' ~ settings.xl_column_1_order : '',
    settings.xxl_column_1_order != 'default' ? '--xxlSectionColumn1Order: ' ~ settings.xxl_column_1_order : '',

    settings.xs_column_1_grid_row != '' ? '--xsSectionColumn1GridRow: ' ~ settings.xs_column_1_grid_row : '',
    settings.sm_column_1_grid_row != '' ? '--smSectionColumn1GridRow: ' ~ settings.sm_column_1_grid_row : '',
    settings.md_column_1_grid_row != '' ? '--mdSectionColumn1GridRow: ' ~ settings.md_column_1_grid_row : '',
    settings.lg_column_1_grid_row != '' ? '--lgSectionColumn1GridRow: ' ~ settings.lg_column_1_grid_row : '',
    settings.xl_column_1_grid_row != '' ? '--xlSectionColumn1GridRow: ' ~ settings.xl_column_1_grid_row : '',
    settings.xxl_column_1_grid_row != '' ? '--xxlSectionColumn1GridRow: ' ~ settings.xxl_column_1_grid_row : '',

    settings.xs_column_1_align_items != 'default' ? '--xsSectionColumn1AlignItems: ' ~ settings.xs_column_1_align_items : '',
    settings.sm_column_1_align_items != 'default' ? '--smSectionColumn1AlignItems: ' ~ settings.sm_column_1_align_items : '',
    settings.md_column_1_align_items != 'default' ? '--mdSectionColumn1AlignItems: ' ~ settings.md_column_1_align_items : '',
    settings.lg_column_1_align_items != 'default' ? '--lgSectionColumn1AlignItems: ' ~ settings.lg_column_1_align_items : '',
    settings.xl_column_1_align_items != 'default' ? '--xlSectionColumn1AlignItems: ' ~ settings.xl_column_1_align_items : '',
    settings.xxl_column_1_align_items != 'default' ? '--xxlSectionColumn1AlignItems: ' ~ settings.xxl_column_1_align_items : '',

    settings.column_2_background_color == 'default' ? '--sectionColumn2BackgroundColor: transparent',
    settings.column_2_background_color != 'default' and settings.column_2_background_color != 'customColor' ? '--sectionColumn2BackgroundColor: var(--bt--' ~ settings.column_2_background_color ~ ')',
    settings.column_2_background_color == 'customColor' ? '--sectionColumn2BackgroundColor: ' ~ settings.column_2_background_custom_color,

    settings.xs_column_2_order != 'default' ? '--xsSectionColumn2Order: ' ~ settings.xs_column_2_order : '',
    settings.sm_column_2_order != 'default' ? '--smSectionColumn2Order: ' ~ settings.sm_column_2_order : '',
    settings.md_column_2_order != 'default' ? '--mdSectionColumn2Order: ' ~ settings.md_column_2_order : '',
    settings.lg_column_2_order != 'default' ? '--lgSectionColumn2Order: ' ~ settings.lg_column_2_order : '',
    settings.xl_column_2_order != 'default' ? '--xlSectionColumn2Order: ' ~ settings.xl_column_2_order : '',
    settings.xxl_column_2_order != 'default' ? '--xxlSectionColumn2Order: ' ~ settings.xxl_column_2_order : '',

    settings.xs_column_2_grid_row != '' ? '--xsSectionColumn2GridRow: ' ~ settings.xs_column_2_grid_row : '',
    settings.sm_column_2_grid_row != '' ? '--smSectionColumn2GridRow: ' ~ settings.sm_column_2_grid_row : '',
    settings.md_column_2_grid_row != '' ? '--mdSectionColumn2GridRow: ' ~ settings.md_column_2_grid_row : '',
    settings.lg_column_2_grid_row != '' ? '--lgSectionColumn2GridRow: ' ~ settings.lg_column_2_grid_row : '',
    settings.xl_column_2_grid_row != '' ? '--xlSectionColumn2GridRow: ' ~ settings.xl_column_2_grid_row : '',
    settings.xxl_column_2_grid_row != '' ? '--xxlSectionColumn2GridRow: ' ~ settings.xxl_column_2_grid_row : '',

    settings.xs_column_2_align_items != 'default' ? '--xsSectionColumn2AlignItems: ' ~ settings.xs_column_2_align_items : '',
    settings.sm_column_2_align_items != 'default' ? '--smSectionColumn2AlignItems: ' ~ settings.sm_column_2_align_items : '',
    settings.md_column_2_align_items != 'default' ? '--mdSectionColumn2AlignItems: ' ~ settings.md_column_2_align_items : '',
    settings.lg_column_2_align_items != 'default' ? '--lgSectionColumn2AlignItems: ' ~ settings.lg_column_2_align_items : '',
    settings.xl_column_2_align_items != 'default' ? '--xlSectionColumn2AlignItems: ' ~ settings.xl_column_2_align_items : '',
    settings.xxl_column_2_align_items != 'default' ? '--xxlSectionColumn2AlignItems: ' ~ settings.xxl_column_2_align_items : '',

    settings.column_3_background_color == 'default' ? '--sectionColumn3BackgroundColor: transparent',
    settings.column_3_background_color != 'default' and settings.column_3_background_color != 'customColor' ? '--sectionColumn3BackgroundColor: var(--bt--' ~ settings.column_3_background_color ~ ')',
    settings.column_3_background_color == 'customColor' ? '--sectionColumn3BackgroundColor: ' ~ settings.column_3_background_custom_color,

    settings.xs_column_3_order != 'default' ? '--xsSectionColumn3Order: ' ~ settings.xs_column_3_order : '',
    settings.sm_column_3_order != 'default' ? '--smSectionColumn3Order: ' ~ settings.sm_column_3_order : '',
    settings.md_column_3_order != 'default' ? '--mdSectionColumn3Order: ' ~ settings.md_column_3_order : '',
    settings.lg_column_3_order != 'default' ? '--lgSectionColumn3Order: ' ~ settings.lg_column_3_order : '',
    settings.xl_column_3_order != 'default' ? '--xlSectionColumn3Order: ' ~ settings.xl_column_3_order : '',
    settings.xxl_column_3_order != 'default' ? '--xxlSectionColumn3Order: ' ~ settings.xxl_column_3_order : '',

    settings.xs_column_3_grid_row != '' ? '--xsSectionColumn3GridRow: ' ~ settings.xs_column_3_grid_row : '',
    settings.sm_column_3_grid_row != '' ? '--smSectionColumn3GridRow: ' ~ settings.sm_column_3_grid_row : '',
    settings.md_column_3_grid_row != '' ? '--mdSectionColumn3GridRow: ' ~ settings.md_column_3_grid_row : '',
    settings.lg_column_3_grid_row != '' ? '--lgSectionColumn3GridRow: ' ~ settings.lg_column_3_grid_row : '',
    settings.xl_column_3_grid_row != '' ? '--xlSectionColumn3GridRow: ' ~ settings.xl_column_3_grid_row : '',
    settings.xxl_column_3_grid_row != '' ? '--xxlSectionColumn3GridRow: ' ~ settings.xxl_column_3_grid_row : '',

    settings.xs_column_3_align_items != 'default' ? '--xsSectionColumn3AlignItems: ' ~ settings.xs_column_3_align_items : '',
    settings.sm_column_3_align_items != 'default' ? '--smSectionColumn3AlignItems: ' ~ settings.sm_column_3_align_items : '',
    settings.md_column_3_align_items != 'default' ? '--mdSectionColumn3AlignItems: ' ~ settings.md_column_3_align_items : '',
    settings.lg_column_3_align_items != 'default' ? '--lgSectionColumn3AlignItems: ' ~ settings.lg_column_3_align_items : '',
    settings.xl_column_3_align_items != 'default' ? '--xlSectionColumn3AlignItems: ' ~ settings.xl_column_3_align_items : '',
    settings.xxl_column_3_align_items != 'default' ? '--xxlSectionColumn3AlignItems: ' ~ settings.xxl_column_3_align_items : '',
  ]|remove_empty
%}

{% if settings.title_font_family != 'default' %}
  {{ attach_library('camaleon/' ~ settings.title_font_family) }}
{% endif %}

{% if content %}
  {% if settings.css_id %}
  <section {{ attributes.setAttribute('style', style_vars|join('; ')).setAttribute('id', settings.css_id).addClass(classes) }}>
  {% else %}
  <section {{ attributes.setAttribute('style', style_vars|join('; ')).addClass(classes) }}>
  {% endif %}
    {% if settings.title %}
      <h2 {{ title_attributes.addClass(title_classes) }}>{{ settings.title }}</h2>
    {% endif %}
    <div {{ grid_attributes.addClass(grid_classes) }}>
      {% if content.three__left %}
        <div {{ region_attributes.three__left.addClass('three__left') }}>
          {{ content.three__left }}
        </div>
      {% endif %}
      {% if content.three__middle %}
        <div {{ region_attributes.three__middle.addClass('three__middle') }}>
          {{ content.three__middle }}
        </div>
      {% endif %}    
      {% if content.three__right %}
        <div {{ region_attributes.three__right.addClass('three__right') }}>
          {{ content.three__right }}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}